*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  /* background-color: #4a4a4a; */
  /* grid-gap: 25px; */
  grid-template-rows: repeat(2, 1fr);
  display: flex;
}

/* search  */
.weather {
  display: flex;
  width: 100%;
  /* padding-left: 25px; */
}
.search-input {
  text-align: center;
  position: absolute;
  margin-top: 34px;
  width: 25%;
  background: #fff;
}
.search-input input {
  width: 80%;
  border-radius: 1px solid;
}

.search-output {
  width: 30%;
  margin-top: 80px;
}
.search-content {
  margin-left: 40px;
}
/* style css */
/* weather-tab */
.weather-tab {
  padding: 20px;
  width: 75%;
  background: #f6f6f8;
}
.weather-tab nav ul {
  display: flex;
}

.list-day li {
  margin-right: 15px;
}
.list-day li a {
  text-decoration: none;
}

.weather-time-list {
  display: flex;
  list-style: none;
}

.weather-time-list li {
  margin-right: 5px;
}

.weather-time-list li a {
  color: black;
  font-weight: bold;
}
.weather-status-list {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  grid: 5px;
}
/* Weather today */
.item {
  height: 100%;
  width: 300px;
  height: 200px;
  background: #fff;
  /* padding: 5px; */
  margin: 15px; /* max-width: 250px; */
  /* width: 15%; */
}
.item h4 {
  padding: 10px;
  font-size: 20px;
  color: rgb(143, 140, 140);
}
.item img {
  /* padding-top: 40px; */
  /* width: 40%; */
  margin: auto;
  width: 70px;
  height: 70px;
}
.item p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  /* padding: 55px 0 0 28px; */
  /* height: 40%; */
  width: 40%;
  margin: 0 auto;
}
.container-week {
  width: 100%;
}
.weather-week-list li p {
  width: 100%;
}

li {
  /* text-decoration: none; */
  list-style: none;
}
/* .list-status {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  grid: 5px;
} */
.weather-week-status h4 {
  left: 2px;
}
.active {
  color: rgb(1, 8, 8);
  border-bottom: 2px solid;
}
.active a {
  font-weight: bold;

  color: #282c34;
}
.list-day li a {
  color: #282c34;
  font-size: 32px;
}

/* Weather Week */
.weather-week-time {
  width: 100%;
}
.weather-week-time ul {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  grid: 2px;
}
.weather-week-list li {
}

.weather-week-list li {
  width: 240px;
  /* height: 150px; */
  background: #fff;
  /* padding: 5px; */
  margin: 5px; /* max-width: 250px; */
  /* width: 15%; */
}
.weather-week-list h4 {
  padding: 10px;
  font-size: 20px;
  color: rgb(143, 140, 140);
}
.weather-week-list img {
  /* padding-top: 20px; */
  width: 20%;
  margin: auto;
}
.weather-week-list p {
  text-align: center;
  font-size: 20px;
  font-weight: 420;
  /* padding: 55px 0 0 28px; */
  /* height: 40%; */
  width: 20%;
  margin: 0 auto;
}
.list-week{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.weather-week-status {
  margin: 50px 0px 0px 5px;

  background: #fff;
}
.weather-week-status h4 {
  font-size: 28px;
  color: rgb(143, 140, 140);
  padding-bottom: 15px;
}

.list-status li {
  color: rgb(143, 140, 140);
  /* padding-bottom: 15px; */
  margin-right: 200px;
}
.sunrise {
  height: 35%;
  display: flex;
  width: 100%;
}
.sunset {
  height: 35%;
  display: flex;
  width: 100%;
}
.img-sunrise {
  width: 70px;
  height: 70px;
  padding: 0 !important;
  /* margin: 0 !important; */
}
.img-sunset {
  width: 70px;
  height: 70px;
  padding: 0 !important;
}
.text-sunrise {
  font-size: 24px !important;

  padding-left: 20px;

  margin: auto !important;

  text-align: inherit !important;
  width: 100% !important;
}
.text-sunset {
  font-size: 24px !important;
  padding-left: 20px;
  margin: auto !important;

  text-align: inherit !important;

  width: 100% !important;
}
